#head-con {
  /* background-color: rgb(216, 216, 216); */
  height: 12vh;
}

#clarke {
  color: rgb(59, 59, 59);
  font-size: 3vw;
  padding: 1% 0% 0% 5%;
  display: inline-block;
}

#rightNav {
  text-align: right;
  width: 600px;
  float: right;
  margin-right: 5%;
}

.navItem {
  padding: 2% 4% 2% 4%;
  margin: 5% 0% 0% 0%;
  font-size: 1.5vw;
  color: grey;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.navItem:hover {
  background-color: rgb(228, 228, 228);
  border-radius: 5px;
  cursor: pointer;
}
