<div id="head-con">
    <div id="clarke">
        <a class="nav-item nav-link link-dark" routerLink="main">Clarke</a>
    </div>

    <div id="rightNav">
        <div class="navItem">
            <a class="nav-item nav-link link-dark" routerLink="sait">SAIT</a>
        </div>
        <div class="navItem">
            <a class="nav-item nav-link link-dark" routerLink="dev">Developer</a>
        </div>
        <!-- <div class="navItem">
            <p>WestJet</p>
        </div>
        <div class="navItem">
            <a>Photos</a>
        </div> -->
    </div>

</div>

<router-outlet></router-outlet>