<div id="title">
    Developer experience from SAIT
</div>

<div class="container">
    <div class="row position-relative">
        <div class="col-md-4 position-relative text-center">
            <img class="img-responsive img-fluid" id="java" src="../../assets/logos/java_logo.png" alt="Java Logo">
        </div>
        <div class="col-md-6">
            <p id="javaText">
                Java has been the number one focus for programming languages we learned at SAIT. We have built simple
                applications from the semester 1, and advanced very rapidly from there, all the way to today where
                we have built a full stack web applicaiton using Java and other languages and frameworks.
            </p>
        </div>
    </div>
</div>

<div class="container left-container">
    <div class="row position-relative mx-auto">
        <div class="col-md-6">
            <p id="javaText">
                As for databases we focused on SQL databases with the main focus on MySQL db's with a lighter look
                into PL/SQL.
            </p>
        </div>
        <div class="col-md-4 position-relative text-center">
            <img class="img-responsive position-relative top-50 translate-middle float-end" id="java" src="../../assets/logos/sql_logo.png" alt="Java Logo">
        </div>
    </div>
</div>

<div class="container">
    <div class="row position-relative mx-auto">
        <div class="col-md-4 position-relative text-center">
            <img class="img-responsive img-fluid" id="java" src="../../assets/logos/js_logo.png" alt="Java Logo">
        </div>
        <div class="col-md-6">
            <p id="javaText">
                JavaScript has been very crucial for us to learn at SAIT and I believe its one of the most important
                languages to learn as a foundation for a programmer.
            </p>
        </div>
    </div>
</div>


<router-outlet></router-outlet>