<div id="title">
    Developer Experience
</div>
<div class="container">
    <div class="row position-relative">
        <div class="col-md-6 position-relative text-center">
            <img class="img-responsive img-fluid" id="java" src="../../assets/images/WestJet.png" alt="WestJet Logo">
        </div>
        <div class="col-md-6">
            <p id="devText">
                I was hired at WestJet right out of SAIT for a student Software Developer position, working in the
                API team. I have learned so much within the time that I have been here and continued to advance my
                knowledge not only in Software Developement in general, but also in CI, code reviews, Agile dev process,
                etc.
            </p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>