<div class="experience-title page-title">
    Developer Experience
</div>

<div class="experience-title">
    May 2022- August 2023
</div>
<div class="container experience-container">
    <div class="row position-relative">
        <div class="col-md-6 position-relative text-center">
            <img class="img-responsive img-fluid" id="westjet_logo" src="assets/images/WestJet.png" alt="WestJet Logo">
        </div>
        <div class="col-md-6 experience-text-col">
            <p class="experience-text">
                I was hired at WestJet right out of SAIT for a student Software Developer position, working in the
                API team. I have learned so much within the time that I have been here and continued to advance my
                knowledge not only in Software Developement in general, but also in CI, code reviews, Agile dev process,
                etc.
            </p>
        </div>
    </div>
</div>

<div class="experience-title">
    May 2025- August 2025
</div>
<div class="container experience-container">
    <div class="row position-relative">
        <div class="col-md-6 position-relative text-center">
            <img class="img-responsive img-fluid" id="cnrl_logo" src="assets/images/CNRL.png" alt="CNRL Logo">
        </div>
        <div class="col-md-6 experience-text-col">
            <p class="experience-text">
                During my summer at CNRL, I learned C# while building offline-capable applications for workers in the
                field. I also gained experience with PL/SQL and SFTP, broadening my skills across application
                development and data transfer.
            </p>
        </div>
    </div>
</div>

<div class="experience-title">
    January 2026 - current
</div>
<div class="container experience-container">
    <div class="row position-relative">
        <div class="col-md-6 position-relative text-center">
            <img class="img-responsive img-fluid" id="wh_logo" src="assets/images/Workhub.png" alt="Workhub Logo">
        </div>
        <div class="col-md-6 experience-text-col">
            <p class="experience-text">
                Since joining Workhub in January 2026, I have been working as a full-stack developer, building features
                across the application. My work includes developing user-facing experiences with Angular, creating C#
                APIs, and working with Microsoft SQL Server to store and query application data. This has given me
                experience connecting front-end workflows with backend services and their underlying data.
            </p>
        </div>
    </div>
</div>
<router-outlet></router-outlet>