<div class="education-title page-title">
    Education
</div>

<div class="education-title">
    SAIT 2020-2022
</div>
<div class="container education-container">
    <div class="row position-relative">
        <div class="col-md-6 position-relative text-center education-logo-col">
            <img class="img-responsive img-fluid education-logo" src="assets/logos/sait_logo.png" alt="SAIT Logo">
        </div>
        <div class="col-md-6">
            <p class="education-text">
                At SAIT, Java was a central part of my programming studies. I progressed from building simple
                applications to contributing to a full-stack web application. I also studied SQL, with a focus on
                MySQL and some exposure to PL/SQL, and built a foundation in JavaScript for web development.
            </p>
        </div>
    </div>
</div>

<div class="education-title">
    University of Lethbridge 2023-2025
</div>
<div class="container education-container">
    <div class="row position-relative">
        <div class="col-md-6 position-relative text-center education-logo-col">
            <img class="img-responsive img-fluid education-logo" src="assets/logos/uleth_logo.png" alt="University of Lethbridge Logo">
        </div>
        <div class="col-md-6">
            <p class="education-text">
                While attending the University of Lethbridge, I developed a particular interest in my software
                engineering classes, where I learned about CI/CD and software design. I also worked with C++,
                TypeScript, and Docker, strengthening my understanding of how to design, build, and deliver software.
            </p>
        </div>
    </div>
</div>

<router-outlet></router-outlet>